*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

figure {
  margin: 0;
}

button {
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.hover-border::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: yellow;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;
}

.hover-border:hover::after {
  left: 0%;
  width: 100%;
}
