.fa-envelope {
  color: orange;
}
.fa-user-friends {
  color: green;
}
.fa-star {
  color: orange;
}
.fa-phone {
  color: red;
}
.fa-gift {
  color: orange;
}
.fa-glass-cheers {
  color: red;
}
.fa-question-circle {
  color: gray;
}
.fa-check-circle {
  color: blue;
}
.fa-fire {
  color: skyblue;
}
